<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
<%= for page <- @pages do %>
  <url>
    <loc><%= page.loc %></loc>
    <%= if Map.has_key?(page, :lastmod) do %>
    <lastmod><%= DateTime.to_iso8601(page.lastmod) %></lastmod>
    <% end %>
    <changefreq><%= page.changefreq %></changefreq>
    <priority><%= page.priority %></priority>
  </url>
<% end %>
</urlset>
